.heading {
    text-shadow: var(--txt-shadow);
    margin: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 2rem 0;
}

@media (min-width: 500px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width : 768px) {
    .heading {
        font-size: 3rem;
    }
    .grid {
        grid-template-columns: 1fr 1fr 1fr; 
    }
  }
