:root {
  /* --clr-text: #973ED7; */
  --clr-text: #fff;
  --clr-darkpurple: #401793;
  --clr-blue: #3B42AD;
  --txt-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Fantasy, sans-serif;
  letter-spacing: 0.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
