:root {
  /* --clr-text: #973ED7; */
  --clr-text: #fff;
  --clr-darkpurple: #401793;
  --clr-blue: #3B42AD;
  --txt-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
  --bg-transparent:  rgba(255, 255, 255, 0.3);
  /* --bg-question:  rgba(40, 145, 214, 0.7); */
  --bg-question: rgba(66, 77, 186, 1);
  --clr-correct: rgba(20, 200, 72, 0.8);
  --clr-wrong: rgba(236, 20, 20, 0.8);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Fantasy, sans-serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  background-color: var(--clr-darkpurple);
  background-image: url("../public/bg.jpg");
  background-size: cover;
  min-width:100%;
  min-height: 100vh;
  color: var(--clr-text);
  text-align: center;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.settings {
  height: 100vh;
}

.heading {
  text-shadow: var(--txt-shadow);
  margin-top: 5rem;
}

.choice {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  margin: 0.5rem;
  background-color: var(--bg-transparent);
  backdrop-filter: blur(8px);
  color: var(--clr-text);
  text-shadow: var(--txt-shadow);
}

.choice:hover:enabled {
  background-color: var(--clr-darkpurple);
  border: 1px solid #ffffff;
  cursor: pointer;
}

.question {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  margin: 0.5rem;
  background-color: var(--bg-question);
  backdrop-filter: blur(8px);
  color: var(--clr-text);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: var(--txt-shadow);
  font-size: 1.5rem;
}

.category {
  min-width: 90%;
}

.answerGrid {
  display: flex;
  flex-direction: column;
}

h2 {
  text-shadow: var(--txt-shadow);
}

.correct {
  background-color: var(--clr-correct);
}

.wrong {
  background-color: var(--clr-wrong);
}

@media (min-width: 500px) {
  .answerGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      margin: 1rem;
  }
}


@media (min-width : 768px) {
  .heading {
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
  .choice {
    font-size: 2rem;
    padding: 2rem;
  }
}
