/* .container {
  background-color: var(--clr-darkpurple);
  background-image: url("../public/bg.jpg");
  background-size: cover;
  min-width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--clr-text);
} */

.btn {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid var(--clr-text);
  /* box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75); */
  background-color: transparent;
  color: var(--clr-text);
  font-size: 1.5rem;
  text-shadow: var(--txt-shadow);
}

.btn:hover {
  background-color: var(--clr-darkpurple);
  border: none;
}

.btn:active {
  transform: translateY(4px);
}

.card {
  height: 50vh;
  width: 80%;
  background-color: var(--bg-transparent);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  border-right: 1px solid rgb(125, 125, 125);
  border-bottom: 1px solid rgb(125, 125, 125);
}

.heading {
  text-shadow: var(--txt-shadow);
}

@media (min-width : 768px) {
  .card {
    width: 50%;
  }
  .heading {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .card {
    width: 40%;
  }
  .heading {
    font-size: 4rem;
  }
}